.app-wrapper{
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "header header"
          "nav content";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1px;
  background: #2c4663;
}
