.dialogs {
    display: grid;
    grid-template-columns: 5fr 10fr;
    grid-gap: 20px;
}

.dialogs .materialIcons {
    vertical-align: -7px;
    margin-right: 10px;
}


.dialogs .dialogsItems .dialog a{
    display: block;
    background: #2c4663;
    color: #cccccc;
    padding: 5px 10px;
    margin: 0px 0px 3px 0px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s;
    text-decoration: none;
}
.dialogs .dialogsItems .dialog a:hover, .dialogs .dialogsItems .active a{
    background: #cccccc;
    color: #000000;
}

/*Posts*/
.posts{
    color: #ffffff;
}
.post__text{
    margin-bottom: 10px;
}
.postlist{
    color: #cccccc;
}

/*Form*/
.form{
    margin: 0px 0px 20px 0px;
}
.form__textField{
    width: 98%;
    height: 50px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #cccccc;
    outline: none;
    padding: 1%;
}
.form__buttonBlock{
    text-align: right;
    padding: 10px 0px 0px 0px;
}
.button{
    width: 100px;
    height: 50px;
    background: aqua;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
}
.button:hover{
    background: #00406b;
    color: #ffffff;
}
