.dialogs {
    display: grid;
    grid-template-columns: 5fr 10fr;
    grid-gap: 20px;
}

.dialogs .materialIcons {
    vertical-align: -7px;
    margin-right: 10px;
}


.dialogs .dialogsItems .dialog a{
    display: block;
    background: #2c4663;
    color: #cccccc;
    padding: 5px 10px;
    margin: 0px 0px 3px 0px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s;
    text-decoration: none;
}
.dialogs .dialogsItems .dialog a:hover, .dialogs .dialogsItems .active a{
    background: #cccccc;
    color: #000000;
}

.messages {

}
.messages .message {

}
