.dialogs {
    display: grid;
    grid-template-columns: 5fr 10fr;
    grid-template-rows: 1fr 60px;
    grid-gap: 20px;
    height: 100%;
}

.dialogs .dialogsItems .materialIcons {
    vertical-align: -7px;
    margin-right: 10px;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}



.dialogs .dialogsItems .dialog a{
    display: block;
    background: #2c4663;
    color: #cccccc;
    padding: 5px 10px;
    margin: 0px 0px 3px 0px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.3s;
    text-decoration: none;
}
.dialogs .dialogsItems .dialog a:hover, .dialogs .dialogsItems .active a{
    background: #cccccc;
    color: #000000;
}

/*Posts*/
.posts{
    color: #ffffff;
}
.post__text{
    margin-bottom: 10px;
}
.postlist{
    color: #cccccc;
}
.messages{
    padding: 10px 10px 1px 10px;
}
.message{
    background: #cccccc;
    border-radius: 5px;
    line-height: 25px;
    margin-bottom: 15px;
    padding: 5px 10px;
    box-shadow: 1px 1px 3px #000000;
}


/*Form*/
.form{
    grid-column: 2/3;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 10px;
    border-top: 1px solid #8a8a8a;
    background: #b1e0f2;
}
.form__textField{
    width: 80%;
    height: 30px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 1%;
    border-radius: 7px;
}
.dialogs .form .materialIcons {
    font-size: 40px;
    color: #a3a3a3;
    vertical-align: 0px;
    margin-left: 10px;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    transition: all 0.3s;
}
.dialogs .form .materialIcons:hover {
    color: #8a8a8a;
}
.form__buttonBlock{
    text-align: right;
    padding: 10px 0px 0px 0px;
}
